# Dependencies
/node_modules
/client/node_modules

# Production build files
/build
/client/build

# Environment variables
.env
/server/.env
/client/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
